@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@font-face {
	font-family: "Ginger";
	src: url("/assets/font/ginger/ginger-regular.otf") format("opentype");
}

@font-face {
	font-family: "Ginger Bold";
	src: url("/assets/font/ginger/ginger-bold.otf") format("opentype");
}



	
.text-brand { 
	color: #ea495c;
}


h1 {
	font-family: "Ginger";
	display: inline-block;
	width: 100%;
	font-size: 28px;
	z-index: 11;
	font-weight: 400;
	text-align: center;
	line-height: 1.1;
}

@media (min-width: 1024px) {
    h1 {
        font-size: 44px;
	}
}

h2 {
	font-family: "Ginger";
	font-size: 35px;
	letter-spacing: -1px;
	line-height: 43px;
	text-align: center;
}

h3 {
	font-family: "Ginger";
	font-size: 24px;
	margin-top: 40px;
	margin-bottom: 15px;
	letter-spacing: -1px;
	line-height: 43px;
	text-align: center;
}

h4 {
	font-family: "Ginger";

}

h5 {
	font-size: 20px;
}


.content-vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content-vertical-left-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.text-left {
	text-align: left;
	width: 100%;
}

.text-center {
	text-align: center;
	width: 100%;
}

.text-right {
	text-align: right;
	width: 100%;
}