<div class="inner" data-type="{{ type }}">
    <div class="field-wrap both">
        {{#if asterix}}
        <span class="asterix">{{ asterixContent }}</span>
        {{/if}}
        <select id="{{ both.id }}" name="{{ both.name }}" class="{{ both.className }}">
            <option value="0">Loading</option>
        </select>
    </div>
    <div class="field-wrap select-mpan-mprn">
        {{!-- DYNAMICLY ADDED --}}
    </div>
    <div class="field-wrap serial">
        {{!-- DYNAMICLY ADDED --}}
    </div>
    <a href="#" class="submit" title="Continue">Continue</a>
</div>
