<div class="inner" data-type="{{ type }}">
    {{!-- <ul> --}}
        <div class='buttonOptions'>
        {{#each options}}
            {{!-- <li> --}}
                <a class="buttonOpt {{ selected }}" id="{{ id }}"{{#addDataAttributes this}}{{ data }}{{/addDataAttributes}}>
                    <div class="img-wrap">
                        <img src="{{ img }}" alt="{{ imgAlt }}"/>
                    </div>
{{!-- 
                    <input type="radio" name='{{ ../radio }}' value='{{ id }}' checked='{{ checked }}' /> --}}
                    {{!-- <span class='hover-txt'>SELECT</span> --}}
                </a>
            {{!-- </li> --}}
        {{/each}}
        </div>
    {{!-- </ul> --}}
</div>