<div class="inner" data-type="{{ type }}">
    <h3>{{ card.title }}</h3>
    <ul>
        {{#each card.options}}
            <li>
                <a class="contact-option{{ classes }}" id="{{ id }}" href="{{ href }}">
                    <div class="img-wrap">
                        <img src="{{ img }}" alt="{{ imgAlt }}"/>
                    </div>
                    <h4>{{ imgAlt }}</h4>
                    <p>{{ info }}</p>
                </a>
            </li>
        {{/each}}
    </ul>
</div>