<div class="inner" data-type="{{ type }}" data-free-cover="{{ quote.cover }}">
    <div class="quoteSummary">
        <div class="h">
            <h1 class='summary-plan-title'>{{ quote.tariff }}</h1>
            <div class='price_switch'>
                <span class='price_switch_value'>£{{ quote.price }} Per Month</span>
            </div>
        </div>
        <div class="body">
            {{#if quote.boiler_cover_available}}
            <div class="coverOptIn text-center">
                <p>You're entitled to free boiler cover worth £88.96 with your selected tariff. <br />Make sure to opt
                    in below to recieve this great benefit!</p>
            </div>
            {{/if}}
        </div>
    </div>


    <form id="customer_details">

        {{#if quote.boiler_cover_available}}
        <div class="checkbox-wrap boilerCover text-center">
            <a href="#" class="input checkbox boiler"></a>
            <p>Claim your free full year boiler cover.</p>
            <input type="hidden" class="boiler_cover" data-wtc="boiler_cover" name="boiler_cover" value="" />
        </div>
        {{/if}}

        <div class="form-group">
            <label for="title">Title</label>
            <select class="required" name="title" id="title" data-wtc="title">
                <option selected disabled></option>
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Ms">Ms</option>
                <option value="Miss">Miss</option>
                <option value="Sir">Sir</option>
                <option value="Dr">Dr</option>
                <option value="Prof">Professor</option>
            </select>
        </div>
        <div class="form-group">
            <label for="title">First name</label>
            <input type="text" name="forename" class="required" data-wtc="forename" />
        </div>
        <div class="form-group">
            <label for="title">Last name</label>
            <input type="text" name="surname" class="required" data-wtc="surname" />
        </div>

        <div class="form-group">
            <label for="title">Email</label>
            <input type="text" name="email" class="required" data-wtc="email" />
        </div>

        <div class="password-strength">
            <div class="bar-wrap">
                <div class="bar"></div>
            </div>
            <span class="caption">
                <span class="label">Password strength:</span>
                <span class="value"></span>
            </span>
        </div>

        <div class="form-group">
            <label for="title">Password</label>
            <input type="password" name="password" class="required" data-wtc="password" />
        </div>

        <div class="form-group">
            <label for="title">Confirm Password</label>
            <input type="password" name="password-confirm" class="required" data-wtc="password-confirm" />
        </div>

        <div class="form-group">
            <label for="title">Mobile number</label>
            <input type="tel" name="phone" class="required" data-wtc="phone" />
        </div>

        <div class="form-group">
            <label for="title">Home Telephone <small>(optional)</small></label>
            <input type="tel" name="telephone" placeholder="" data-wtc="telephone" />
        </div>

        <div class="form-group">
            <label for="title">Date of birth</label>
            <input type="date" name="dob" max="2001-01-01" class="required" data-wtc="dob" maxlength="" />
        </div>


        {{!-- <div class="form-group">
            <label for="title">Your address</label>
            <select class="required" name="address" id="address" data-wtc="address">
                <option selected disabled></option>
            </select>
        </div> --}}

        <div class="form-group">
            <label>Address</label>
            <div class="field-wrap both">
                {{#if asterix}}
                <span class="asterix">{{ asterixContent }}</span>
                {{/if}}
                <select id="{{ both.id }}" name="{{ both.name }}" class="{{ both.className }} required">
                    <option value="0">Loading</option>
                </select>
            </div>
        </div>
        <div class="checkbox-wrap">
            <a href="#" class="input checkbox psr"></a>
            <p>Are you eligible for priority register service?</p>
            <input type="hidden" class="prs_flag" name="prs_flag" value="" />
        </div>

        {{!-- 
        <div class="checkbox-wrap">
            <a href="#" class="input checkbox"></a>
            <p>You are eligible for 12 months of free boiler cover, would you like </p>
            <input type="hidden" class="prs_flag" name="prs_flag" value="" />
        </div> --}}


            <div class="field-wrap select-mpan-mprn">
                {{!-- DYNAMICLY ADDED --}}
            </div>

            <div class="field-wrap serial">
                {{!-- DYNAMICLY ADDED --}}
            </div>


        <div class="extra-fields-wrap"></div>

        {{!-- <div class='form-group'>
            <button id="finishSignup" type="button" onClick="$('#quoteStepForward').click();" class="btn btn-eversmart-primary">Submit</button>
        </div> --}}

    </form>
</div>