<div class="faqs-section">
    <div class="inner">
        <h6>Frequently Asked Questions</h6>
        <p>Eversmart is truly revolutionising the energy and smart home industry</p>
        <div class="faqs-wrap"></div>
    </div>
</div>
