<div id="gasSpecific">
    <div class="notice">
        <p>There was an issue identifying the Gas meter details for your chosen address. Select the address your Gas
            meter is registered to below.</p>
    </div>
    <div class="form-group">
        <label>Gas Meter Address</label>
        <div class="field-wrap both">
            <select id="{{ gas.id }}" name="{{ gas.name }}" class="{{ gas.className }} required">
                <option value="0">Loading</option>
            </select>
        </div>
    </div>
</div>