<div class="inner" data-type="{{ this.type }}">
    {{!-- <div id='summary-page-main-wrap'>
        <div id='summary-body'>
            <div id='cards-wrap'>
                <!-- Dynamicly Added! -->
            </div>
        </div>
    </div> --}}

  {{!-- <div class="homeProtect">
    
  </div> --}}

  <div class="PriceBlocks-sliderContainer">
    <div class="PriceBlocks-slider">
      
    </div>
  </div>

  <div class="summaryNotes">
    <span>* Savings based on the average estimated annual cost in your area</span>
  </div>
</div>
