#signupSuccess {
    min-height: 100vh;
    padding: 0 10%;
}

#signupSuccess p {
    font-size: 20px;
    margin: 15px 0;
}

#signupSuccess h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

#referral-link {
    width: 400px;
    /* border: 2px solid #ea495c; */
    font-weight: 500;
    color: #fff;
    outline: none;
    /* border-radius: 4px; */
    border: 0;
    background: #ea495c90;
    padding: 0.8rem 5%;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0;
    border-radius: 5px;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    max-width: 100%;
    z-index: 3000;
}

@media (max-width: 600px) {
    #referral-link {
        width: 100%;
    }
    
    .tooltip {
        width: 100%;
    }
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}