#padding-down{padding-bottom:220px!important;}
.green-box-radiant{float:left; width:100%;
     background: -moz-linear-gradient(271deg, rgba(138,243,193,1) 0%, rgba(44,215,241,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(138,243,193,1)), color-stop(100%, rgba(44,215,241,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(271deg, rgba(138,243,193,1) 0%, rgba(44,215,241,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(271deg, rgba(138,243,193,1) 0%, rgba(44,215,241,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(271deg, rgba(138,243,193,1) 0%, rgba(44,215,241,1) 100%); /* ie10+ */
    background: linear-gradient(179deg, rgba(138,243,193,1) 0%, rgba(44,215,241,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8af3c1', endColorstr='#2cd7f1',GradientType=0 ); /* ie6-9 */ }

#home-care-blue{     background: -moz-linear-gradient(271deg, rgba(138,243,193,1) 0%, rgba(44,215,241,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(138,243,193,1)), color-stop(100%, rgba(44,215,241,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(271deg, rgba(138,243,193,1) 0%, rgba(44,215,241,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(271deg, rgba(138,243,193,1) 0%, rgba(44,215,241,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(271deg, rgba(138,243,193,1) 0%, rgba(44,215,241,1) 100%); /* ie10+ */
    background: linear-gradient(179deg, rgba(138,243,193,1) 0%, rgba(44,215,241,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8af3c1', endColorstr='#2cd7f1',GradientType=0 ); /* ie6-9 */
font-size: 16px;font-weight: 500;padding: 18px 30px;margin-top: -3px;border-radius: 33px;}

#blue-text-homecare{color:#fff;}
#homecare-footer{ background: url(../images/homecare/footer-bg.png) #fff right bottom no-repeat; float: left;width: 100%;
background-size: contain;position: relative;}
.mn30{margin-top:-40px;}
#enter-call{padding:20px 30px;}
#enter-call input[type="text"]{padding-left:0px!important; color:#aeaeae; font-size:20px;font-weight:400;}
#enter-call label{color:#aeaeae; font-size:20px;}
.cannot-text{width:100%; float:left; margin-top:-10px; color:#fff;}
.martop30{margin-top:30px;}
.home-care-order-icon img{height:40px; width:auto; margin: -8px 20px 0px 0px;}

#green-gridiant .click_select_edit{padding: 15px 0px!important; background: #86f2c2!important;  /* Old browsers */
background: -moz-linear-gradient(top, #86f2c2 1%, #45dee4 99%)!important;  /* FF3.6-15 */
background: -webkit-linear-gradient(top, #86f2c2 1%,#45dee4 99%)!important;  /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #86f2c2 1%,#45dee4 99%)!important;  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86f2c2', endColorstr='#45dee4',GradientType=0 )!important;  /* IE6-9 */}
#green-gridiant .gas_box_text {color:#38daeb!important;}
#green-gridiant figure.effect-sadie:hover .gas_card{ border:2px solid #38daeb!important;}
.green-text-price{color:#12cfff!important;}
.pos-rela{position:relative;}
.visa-card{position:absolute; right:0px; top:8px;}
.visa-card img{ width:45px; height:auto;}

/******************Quotation Page*****************/
.a-month{width:100%; text-align:center; font-size:24px; float:left; padding-bottom:30px;}
.wht-inclu-p{width:100%;  font-size:18px; float:left; color:#aeaeae;  line-height:34px;}
.wht-inclu-p span{border-bottom:1px solid #aeaeae; padding-bottom:5px; }
.whats-point-list{float:left; margin:10px 0px 70px 0px; padding:0px;}
.whats-point-list li{background:url(../images/Quote/right.png) left center no-repeat; padding-left:40px; float:left; font-size:14px; margin:8px 0px; list-style:none; line-height:22px; background-size:19px auto; width:90%;}
#not-included li{background:url(../images/Quote/cross.png) left center no-repeat; background-size:19px auto; float:right;}
.your-order-point{float:left; margin:20px 0px 70px 0px; padding:0px;}
.your-order-point li{background:url(../images/Quote/ribbon.png) left center no-repeat; padding-left:40px; float:left; font-size:14px; margin:8px 0px; list-style:none; line-height:22px; background-size:30px auto; width:100%; text-align:center;}
.ribbon-point{width:80%; margin: 0 auto;}
.quote-order-icon img{ width:130px; height:auto;}
.quote-order-icon{ width:100%; float:left; padding:15px 0px 20px;}
.quote-order-h{font-size:35px; line-height:45px; color:#000; float:left; width:100%; margin-bottom:50px;}
.termandcheck{ border:2px solid #12cfff; background:none;}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 30px; height: 30px;
  border: 3px solid #12cfff;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .2em; left: .275em;
  font-size: 1.4em;
  line-height: 0.8;
  color: #12cfff;
  transition: all .2s;

}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px solid blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}

.lebel_term_text{  padding:6px 0px 0px 20px; float:left; font-size:20px; }
.tandc-check{float:left; width:100%; padding:10px 0px 20px;}



/******************************Start custome quote***************/
.left-quote-c{ width:100%; float:left; padding:150px 0px 60px;}
.excess-choose{width:100%; float:left; font-size:25px; line-height:25px;}
#quote-choose-chk{padding:0;}
#quote-choose-chk1{padding:0;}
#quote-choose-chk li{list-style:none;}
#quote-choose-chk1 li{list-style:none;}
.center-quote-b{ margin: 60px auto; width:80%;}
#quote-choose-chk .summer-quote{padding:10px 0px!important; box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);}
#quote-choose-chk1 .summer-quote{padding:10px 0px!important; box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);}
.pound-mean{font-size:11px; color:#333; line-height:14px;}
.right-quote-c{ background:#f9f7f7; float:right; width:100%; padding:80px 0px 143px; border-radius:0px 39px 39px 0px;}
.hc-cho-meh{ width:100%; float:left; text-align:center; margin:40px 0px 15px 0px;}
.q-sm-txt{font-size:18px;}
.grey-sm-txt{font-size:14px; }
.p-hm-in{float:left; width:100%; text-align:left; padding-top:60px; padding-bottom:20px; color:#aeaeae; font-size:13px;}
.quote-hc-table tr td{border-top:none; padding:8px 0px; }
.tag-quo{width:18px; height:auto;}
.all-p-quote{font-size:10px;}

.homecaretop-bottom{padding: 80px 0px 300px;}
#right figure.effect-sadie:hover .gas_box_text{transform: translate3d(0,-20%,0) translate3d(0,-40px,0)!important;}
#right .gas_card {height: 260px!important;}
#gas_selected_supplier{font-size:18px; border-radius:5px; padding-right:40px !important; background:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .45rem center!important; background-size: 14px auto !important;}

/**********************Home Care landing page*******************/
.home-ser-col-full{float:left;}
.annual_price{float:left;width:100%;}
#annaul-tab-link{background: -moz-linear-gradient(271deg, rgba(138,243,193,1) 0%, rgba(44,215,241,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(138,243,193,1)), color-stop(100%, rgba(44,215,241,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(271deg, rgba(138,243,193,1) 0%, rgba(44,215,241,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(271deg, rgba(138,243,193,1) 0%, rgba(44,215,241,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(271deg, rgba(138,243,193,1) 0%, rgba(44,215,241,1) 100%); /* ie10+ */
    background: linear-gradient(179deg, rgba(138,243,193,1) 0%, rgba(44,215,241,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8af3c1', endColorstr='#2cd7f1',GradientType=0 ); /* ie6-9 */ }

.boiler-p-box{width:80%; margin:0 auto;}
.blue-annual-box-first{float:left; width:100%; margin:80px 0px 20px; background:url(../images/homecare/boiler-home-one-new2400.svg) top left no-repeat; background-size:contain; height:900px;}
.blue-annual{background:url(../images/homecare/boiler-bottom-home-2400.svg) top left no-repeat; background-size:contain; height:900px;}
.annaul_bg_box-bottom{ padding-top:160px!important;}
/*.annaul_bg_box2{background:url(../images/homecare/upper-shape-top.svg)top left no-repeat; background-size:contain; padding-top:250px; margin-top:-3px;}*/
.ever_reapir_new{ background: -moz-linear-gradient(271deg, rgba(138,243,193,1) 0%, rgba(44,215,241,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(138,243,193,1)), color-stop(100%, rgba(44,215,241,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(271deg, rgba(138,243,193,1) 0%, rgba(44,215,241,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(271deg, rgba(138,243,193,1) 0%, rgba(44,215,241,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(271deg, rgba(138,243,193,1) 0%, rgba(44,215,241,1) 100%); /* ie10+ */
    background: linear-gradient(179deg, rgba(138,243,193,1) 0%, rgba(44,215,241,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8af3c1', endColorstr='#2cd7f1',GradientType=0 ); /* ie6-9 */
	float:left;width:100%; margin-top:20px;	}
#repair-box-pd{padding-bottom:280px;}

.ever_reapir{background:url(../img/smartmeter_splitter.png) top left no-repeat; background-size:contain; height:900px; padding-top: 200px;}


.annaul_bg_box2 {
    background: url(../img/waves_splitter_top.png) top -25px left no-repeat, url(../img/waves_splitter_bottom.png) bottom left no-repeat;
    background-size: contain;
    position: relative;
    width: 100%;
}

/*.annaul_bg_box3 {
    background: url(../img/waves_splitter_bottom.png) bottom left no-repeat;
    background-size: contain;
    position: relative;
    width: 100%;
}*/

.annual-replacement-second-shape{background:url(../images/homecare/bolier-replacement-second.svg) top left no-repeat; background-size:cover; height:1000px; float:left;width:100%; padding-bottom:60px; margin:80px 0px;}

@media only screen and (min-device-width : 1625px) and (max-device-width : 1824px) {

	.blue-annual,.blue-annual-box-first{background-size: contain;height: 1050px;}
	.annual-replacement-second-shape{background-size: contain;height: 1250px;}


}



@media only screen  and (min-width : 1600px) {

	.blue-annual,.blue-annual-box-first{background-size: contain;height: 1250px;}
	.annaul_bg_box{padding-top:350px!important;}
	#repair-box-pd{padding:180px 0px 400px;}
	.annual-replacement-second-shape{background-size: contain;height: 1450px;}
	#ever_reapir_gap{background-size: contain;height: 1250px;}
	.annaul_bg_box2{padding-top:350px;}
	.bottom-rounded-wave{}


}

@media only screen  and (min-width : 1920px) {

	.blue-annual,.blue-annual-box-first{background-size: contain;height: 1250px;}
	.annaul_bg_box{padding-top:400px!important;}
	#repair-box-pd{padding:180px 0px 400px;}
	.annual-replacement-second-shape{background-size: contain;height: 1550px;}
	#ever_reapir_gap{background-size: contain;height: 1350px;}
	.annaul_bg_box2{padding-top:350px;}
	.bottom-rounded-wave{}


}

@media only screen  and (min-width : 2220px) {

	.blue-annual,.blue-annual-box-first{background-size: contain;height: 1250px;}
	.annaul_bg_box{padding-top:400px!important;}
	#repair-box-pd{padding:180px 0px 400px;}
	.annual-replacement-second-shape{background-size: contain;height: 1550px;}


}







/************************Smart Meter Landing Page*******************/

.blue-box-radiant-top{      background: -moz-linear-gradient(250deg, rgba(0,242,254,1) 0%, rgba(79,172,254,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,242,254,1)), color-stop(100%, rgba(79,172,254,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(250deg, rgba(0,242,254,1) 0%, rgba(79,172,254,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(250deg, rgba(0,242,254,1) 0%, rgba(79,172,254,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(250deg, rgba(0,242,254,1) 0%, rgba(79,172,254,1) 100%); /* ie10+ */
    background: linear-gradient(200deg, rgba(0,242,254,1) 0%, rgba(79,172,254,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00F2FE', endColorstr='#4FACFE',GradientType=0 ); /* ie6-9 */ float:left; width:100%; }
.what-smart-meter{float:left;width:100%; }
.what-m-heading{float:left;width:100%; font-size:50px; font-weight:400; text-align:center; margin-bottom:70px; line-height:60px;}
.detail-smart-meter{float:left;width:100%; font-size:25px; line-height:35px; padding-top:50px;}
.sm-icon-meter{width:100%; height:auto;}
.get-meter-btn{  background: -moz-linear-gradient(250deg, rgba(0,242,254,1) 0%, rgba(79,172,254,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,242,254,1)), color-stop(100%, rgba(79,172,254,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(250deg, rgba(0,242,254,1) 0%, rgba(79,172,254,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(250deg, rgba(0,242,254,1) 0%, rgba(79,172,254,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(250deg, rgba(0,242,254,1) 0%, rgba(79,172,254,1) 100%); /* ie10+ */
    background: linear-gradient(200deg, rgba(0,242,254,1) 0%, rgba(79,172,254,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00F2FE', endColorstr='#4FACFE',GradientType=0 ); /* ie6-9 */ color:#fff; float:left; padding:12px 35px; font-size:18px; border-radius:18px;}
.get-m-s{float:left;width:100%; margin-top:60px;}
.get-meter-btn:hover{color:#fff;}
.sm-b-p{float:left; width:100%; margin:20px 0px 15px 0px; padding:0px 0px 0px 21px;}
.sm-b-p li{ list-style-type: square; color:#fff; font-size:20px; float:left; width:100%; margin:8px 0px;}
#sm-meter-three-col .b-replace-box{ width:80%; margin:0 auto;}
#sm-meter-three-col .b-replace-box h4{ font-size:18px; font-weight:500; margin-top:60px;}
#sm-meter-three-col .b-replace-box .b-replace-detail{color:#000!important; font-size:17px!important; line-height:27px!important;}
.sm-learn-more{float:left; width:100%; text-align:center; padding-top:5px;}
.sm-learn-more a{font-size:16px; font-weight:18px; color:#000; font-weight:500;  }
.bottom-rounded-wave{ padding-top: 200px;}

.sm-last-section{background: -moz-linear-gradient(250deg, rgba(0,242,254,1) 0%, rgba(79,172,254,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,242,254,1)), color-stop(100%, rgba(79,172,254,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(250deg, rgba(0,242,254,1) 0%, rgba(79,172,254,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(250deg, rgba(0,242,254,1) 0%, rgba(79,172,254,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(250deg, rgba(0,242,254,1) 0%, rgba(79,172,254,1) 100%); /* ie10+ */
    background: linear-gradient(200deg, rgba(0,242,254,1) 0%, rgba(79,172,254,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00F2FE', endColorstr='#4FACFE',GradientType=0 ); /* ie6-9 */ float:left; width:100%; margin-top:20px;
}




.meter-three-icon{height:120px; width:120px; background:#fff; border-radius:50%; padding:10px; border:5px solid #82E9FD; }
#smart-meter-f-bg #homecare-footer{ background:url(../images/smart-meter-footer.svg)#fff left bottom no-repeat!important; background-size: contain!important;}
#sh-second-sec{ background:url(../images/sh-second-top-shape.svg) top left no-repeat;}
#smart-heating-price-list h5{color:#62c6f2!important;}
#smart-heating-price-list .eversmart-step{background:#fff!important;}
#smart-heating-price-list .ever_rounded_p{background:#62c6f2!important;}
#smart-heating-price-list .a-price{color:#fff!important;}
#smart-heating-price-list .a-start{color:#999!important;}

#smart-heating-price-list #annaul-tab-link{background: -moz-linear-gradient(250deg, rgba(0,242,254,1) 0%, rgba(79,172,254,1) 100%)!important; /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,242,254,1)), color-stop(100%, rgba(79,172,254,1)))!important;; /* safari4+,chrome */
    background: -webkit-linear-gradient(250deg, rgba(0,242,254,1) 0%, rgba(79,172,254,1) 100%)!important;; /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(250deg, rgba(0,242,254,1) 0%, rgba(79,172,254,1) 100%)!important; /* opera 11.10+ */
    background: -ms-linear-gradient(250deg, rgba(0,242,254,1) 0%, rgba(79,172,254,1) 100%)!important; /* ie10+ */
    background: linear-gradient(200deg, rgba(0,242,254,1) 0%, rgba(79,172,254,1) 100%)!important; /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00F2FE', endColorstr='#4FACFE',GradientType=0 )!important; /* ie6-9 */}


#border-radius-zero img{ border-radius:0px;}
.sm-make-your{font-size:45px; width:100%; float:left; text-align:center; margin:40px 0px 10px 0px;}
.sm-make-your-detail{font-size:20px; width:100%; float:left; text-align:center; margin:10px 0px 70px 0px; line-height:30px;}
.sm-view-link{float:left; width:100%; color:#62c6f2; padding-top:20px; font-weight:bold;}
.customer_type_hc{font-size: 20px;padding-top: 15px;float: left;text-align: center;width: 100%;color: #fff; line-height:25px;}



#first-meter-mobile{display:none;}
