@media (max-width: 576px) {

	/*.page-header{float:none; width:auto}*/
 .page-header .brand{margin-top:30px; text-align:center;}
 .page-header .brand .title{font-size:30px; text-align:center;}
 .inner_six{padding:80px 0px 50px;}
 .inner_six h2{font-size:30px;}
 .page-header .brand .hook{ line-height:30px; font-size:24px; text-align:center;}
 .page-header .phone{margin-top: 70px;}
 .section-why-switch{margin:20px 0px; padding: 30px 0px;}
 .section-why-switch .reasons h2{text-align:center;}
 .section-why-switch .reasons .info .icon{ width:100%; margin:10px 0px; text-align:center;}
 .info-title{width:100%; text-align:center;}
 .section-why-switch .reasons .info p{width:100%; text-align:center;margin:10px 0px;}
 .section-smart-customer-services .services-xs .social-icons .social-icon img{width:52px;}
 .social-icons{text-align:center; width:100%; margin:5px auto; padding:0px; float:none;}
 .navbar.navbar-dark .breadcrumb .nav-item.active > .nav-link:hover, .navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link:hover, .navbar.navbar-dark .navbar-toggler, .navbar.navbar-dark form .md-form .form-control{    color: #000 !important;    position: relative;    top: -28px;    right: -19px;}}
.show .nav-link {color:#000!important;}
 .topbar{padding: 10px 0px 41px 0px;}
 .boxCenterImg img{width:100%}
 .navbar-toggler{}
.show ul{background:#fefdfd; border-radius:5px; border-radius:5px; border: 1px solid aliceblue; padding:15px 12px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
.mobile_menu{z-index:55;}
.navbar-toggler{top: -27px;position: relative;right: -20px;}

}

@media (max-width: 768px) {
  
}

@media (max-width: 992px) {
  
}

@media (max-width: 1200px) {
  
}
