.video-overlay {
    background-color: #00000099;
    float: left;
    position: absolute;
    min-height: 100%;
    width: 100%;
    z-index: 300000;
}
.video-overlay-text {
    bottom: 40%;
    color: #fff;
    position: absolute;
    right: 39%;
    text-align:center;
    z-index: 300001;
}
.full-width-video {
    bottom: 50px;
    max-width: 100%;
    position: relative;
}
.cc-floating .cc-message {
    text-align: center;
}

/* Landing Page Main Styles */
#landing-page {
    position: relative;
    z-index: 1;
}
#landing-page section {
    position: relative;
    padding-bottom: 35px;
    z-index: 2;
    margin: 0 5%;
}
#landing-page section h1 {
    font-size: 45px;
    letter-spacing: -1px;
    line-height: 43px;
}
#landing-page section h2 {
    font-size: 35px;
    letter-spacing: -1px;
    line-height: 43px;
}
#landing-page section p {
    font-weight: 500;
	font-size: 20px;
}
#landing-page .button-wrap a {
    background: #ec4759;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.25s ease-in-out;
    width: 175px;
}
#landing-page .button-wrap a:hover {
    opacity: .8;
}
#landing-page .video-wrap .inner {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
    height: 0;
    border-radius: 30px;
    overflow: hidden;
}
#landing-page .video-wrap .inner iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Video Section */
#landing-page section[data-type="video-hero"] {
    margin: 0 0;
    bottom: 50px;
}
#landing-page section[data-type="video-hero"] .button-wrap a{
    background: none;
    border: 1px solid #fff;
}
#landing-page section[data-type="video-hero"] iframe {
    height: 865px;
}
#landing-page section[data-type="video-hero"] .img-wrap {
    width: 75%;
    display: block;
    margin: 0 auto;
    vertical-align: top;
    border-radius: 110px;
}
#landing-page section[data-type="video-hero"] .img-wrap img {
    max-width: 100%;
}
#landing-page section[data-type="video-hero"] .info-wrap {
    display: block;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
#landing-page section[data-type="video-hero"] .info-wrap h1 {
    color: #ea495c;
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 43px;
}
#landing-page section[data-type="video-hero"] .info-wrap p {
    display: block;
    font-weight: 500;
    margin-top: -8px;
    padding-top: 0;
}
#landing-page section[data-type="video-hero"] .info-wrap p a {
    color: #000;
    font-weight: 500;
}
#landing-page section[data-type="video-hero"] .info-wrap .button-wrap {
    display: block;
    text-align: center;
    margin-top: 25px;
}
#landing-page section[data-type="video-hero"] .info-wrap .button-wrap a {
    margin-bottom: 5px;
}
#landing-page section[data-type="video-hero"] .info-wrap .button-wrap a:first-child {
    margin-right: 0;
}
#landing-page section[data-type="video-hero"] .info-wrap .button-wrap a:hover {
    opacity: .8;
}
#landing-page section[data-type="family-saver-2"] {
    margin-top: 200px;
    z-index: -1;
}
#landing-page section[data-type="family-saver-2"] .video-wrap {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    z-index: -1;
}

#landing-page section[data-type="family-saver-2"] .video-wrap video {
    max-width: 100%;
    border-radius: 30px;
    overflow: hidden;
}
#landing-page section[data-type="family-saver-2"] .info-wrap {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 45px;
    vertical-align: top;
    margin-left: 0;
    padding: 0;
}
#landing-page section[data-type="family-saver-2"] .info-wrap h2 {
    margin: 0;
    padding: 0;
}
#landing-page section[data-type="family-saver-2"] .info-wrap p {}
#landing-page section[data-type="family-saver-2"] .info-wrap h2 + p {
    display: block;
    margin-top: 20px;
}
#landing-page section[data-type="family-saver-2"] .info-wrap .button-wrap {}
#landing-page section[data-type="family-saver-2"] .info-wrap .button-wrap a {}
#landing-page section[data-type="family-saver-2"] .info-wrap .button-wrap a:hover {}
#landing-page section[data-type="family-saver-3"] {
    margin: 150px 5% 0 5%;
}
#landing-page section[data-type="family-saver-3"] .info-wrap {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    text-align: center;
}
#landing-page section[data-type="family-saver-3"] .info-wrap h2 {}
#landing-page section[data-type="family-saver-3"] .info-wrap p {}
#landing-page section[data-type="family-saver-3"] .info-wrap h2 + p {}
#landing-page section[data-type="family-saver-3"] .info-wrap .button-wrap {}
#landing-page section[data-type="family-saver-3"] .info-wrap .button-wrap a {}
#landing-page section[data-type="family-saver-3"] .info-wrap .button-wrap a:hover {}
#landing-page section[data-type="family-saver-3"] .diagram-wrap {
    position: absolute;
    right: 0;
    width: 100%;
    text-align: right;
    bottom: 0;
    opacity: 0;
    display: none;
}
#landing-page section[data-type="family-saver-3"] .diagram-wrap .item {
    width: 100%;
    display: block;
    margin-top: 10px;
    text-align: right;
    position: relative;
}
#landing-page section[data-type="family-saver-3"] .diagram-wrap .item .circle {
    width: 70px;
    height: 70px;
    display: inline-block;
    border: 2px solid #cdcdcd;
    background-color: #fff;
    border-radius: 50%;
    vertical-align: top;
    z-index: 2;
    padding: 22px 0 0 0;
    text-align: center;
    position: relative;
    box-shadow: 0 0 0 1px #00000017;
    font-weight: 500;
}
#landing-page section[data-type="family-saver-3"] .diagram-wrap .item .main {
    width: 580px;
    display: inline-block;
    background-color: #f0f0f0;
    margin-top: 17px;
    vertical-align: top;
    margin-left: -30px;
    z-index: 1;
    box-shadow: 0 0 0 1px #00000017;
    font-size: 21px;
    padding: 4px 60px 3px 0;
    font-weight: 500;
}

#landing-page section[data-type="family-saver-3"] .diagram-wrap .item:first-child .main  {
    width: 300px;
}

#landing-page section[data-type="family-saver-3"] .diagram-wrap .item:nth-child(2) .main {
    width: 380px;
}

#landing-page section[data-type="family-saver-3"] .diagram-wrap .item:nth-child(3) .main {
    width: 460px;
}
#landing-page section[data-type="family-saver-3"] .diagram-wrap .item:nth-child(4) .main  {
    width: 540px;
    background-color: #ea495c;
}
#landing-page section[data-type="family-saver-3"] .diagram-wrap .item:nth-child(4) .circle {
    border-color: #ea495c;
}
#landing-page section[data-type="family-saver-4"] {
    margin-top: 150px;
    text-align: center;
}
#landing-page section[data-type="family-saver-4"] h2 {
    margin-bottom: 50px;
}
#landing-page section[data-type="referal"] {
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
#landing-page section[data-type="referal"] .video-wrap {
    display: block;
    width: 100%;
    vertical-align: top;
    margin-left: -5px;
    order: 1;
    flex-basis: 100%;
}
#landing-page section[data-type="referal"] .video-wrap video {
    max-width: 100%;
    border-radius: 30px;
    overflow: hidden;
}
#landing-page section[data-type="referal"] .info-wrap {
    display: block;
    width: 100%;
    vertical-align: top;
    order: 2;
    flex-basis: 100%;
}
#landing-page section[data-type="tech"] .img-wrap {
    vertical-align: top;
    display: block;
    width: 100%;
}
#landing-page section[data-type="tech"] .img-wrap img {
    max-width: 100%;
}
#landing-page section[data-type="tech"] .info-wrap {
    vertical-align: top;
    display: block;
    width: 100%;
    text-align: center;
    margin-left: 0;
}
#landing-page section[data-type="tech"] .info-wrap h2 {}
#landing-page section[data-type="tech"] .info-wrap p {}
#landing-page section[data-type="apps"] {
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
}
#landing-page section[data-type="apps"] .info-wrap {
    flex-basis: 100%;
    order: 1;
    text-align: center;
    vertical-align: top;
}

#landing-page section[data-type="apps"] .info-wrap h2 {}
#landing-page section[data-type="apps"] .info-wrap p {}
#landing-page section[data-type="apps"] .info-wrap h3 {}
#landing-page section[data-type="apps"] .info-wrap .button-wrap {}
#landing-page section[data-type="apps"] .info-wrap .button-wrap a {
    display: inline-block;
    background: none;
    padding: 0;
    width: 25%;
}
#landing-page section[data-type="apps"] .info-wrap .button-wrap a:hover {}
#landing-page section[data-type="apps"] .info-wrap .button-wrap a img {
    max-width: 100%;
}
#landing-page section[data-type="apps"] .info-wrap .button-wrap + h3 {}
#landing-page section[data-type="apps"] .img-wrap {
    text-align: center;
    flex-basis: 40%;
    margin-left: 30%;
    vertical-align: top;
    position: relative;
}
#landing-page section[data-type="apps"] .img-wrap img {
    max-width: 40%;
    vertical-align: top;
}
#landing-page section[data-type="apps"] .img-wrap img:nth-child(2){
    margin-left: -5px;
}

#landing-page section[data-type="chat"] {
    margin-top: 200px;
}
#landing-page section[data-type="chat"] > .info-wrap {
    text-align: center;
    margin-bottom: 45px;
    padding: 0 25px 0 25px;
}
#landing-page section[data-type="chat"] .diagram-wrap  {
    display: flex;
    flex-wrap: wrap;
}
#landing-page section[data-type="chat"] .diagram-wrap .left {
    flex-basis: 100%;
    order: 2;
    text-align: center;
    vertical-align: top;
    padding-top: 0;
}
#landing-page section[data-type="chat"] .diagram-wrap .left a {
    width: 100%;
    color: #000;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
#landing-page section[data-type="chat"] .diagram-wrap .left a:hover {
}
#landing-page section[data-type="chat"] .diagram-wrap .left a .info-wrap {
    flex-basis: 100%;
    order: 2;
    padding-right: 0;
    padding-top: 11px;
}
#landing-page section[data-type="chat"] .diagram-wrap .left a .info-wrap h3 {
    padding: 0;
    margin: 0;
}
#landing-page section[data-type="chat"] .diagram-wrap .left a .info-wrap p {
    margin-top: 2px;
}
#landing-page section[data-type="chat"] .diagram-wrap .left a .img-wrap {
    flex-basis: 100%;
    order: 1;
    vertical-align: top;
}
#landing-page section[data-type="chat"] .diagram-wrap .left a .img-wrap img {
    max-width: 100px;
    vertical-align: top;
}
#landing-page section[data-type="chat"] .diagram-wrap .center {
    flex-basis: 100%;
    order: 1;
    text-align: center;
    vertical-align: top;
}
#landing-page section[data-type="chat"] .diagram-wrap .center img {
    max-width: 60%;
}
#landing-page section[data-type="chat"] .diagram-wrap .right {
    flex-basis: 100%;
    order: 3;
    text-align: center;
    vertical-align: top;
    padding-top: 0;
}
#landing-page section[data-type="chat"] .diagram-wrap .right a {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    width: 100%;
    color: #000;
    text-decoration: none;
}

#landing-page section[data-type="chat"] .diagram-wrap .right a:hover {}
#landing-page section[data-type="chat"] .diagram-wrap .right a .img-wrap {
    flex-basis: 100%;
    height: auto;
    vertical-align: top;
}
#landing-page section[data-type="chat"] .diagram-wrap .right a .img-wrap img {
    max-width: 100%;
}
#landing-page section[data-type="chat"] .diagram-wrap .right a .info-wrap {
    flex-basis: 100%;
    padding-left: 0;
    margin-top: 11px;
    vertical-align: top;
}
#landing-page section[data-type="chat"] .diagram-wrap .right a .info-wrap h3 {
    margin: 0;
    padding: 0;
}
#landing-page section[data-type="chat"] .diagram-wrap .right a .info-wrap p {
    margin-top: 2px;
}
#landing-page section[data-type="trust-pilot"] {
    margin-top: 150px;
}
#landing-page section[data-type="trust-pilot"] h2 {
    text-align: center;
}
#landing-page section[data-type="trust-pilot"] .third-party-wrap {}
#landing-page section[data-type="switching"] {
    text-align:center;
    padding-top: 30px;
}
#landing-page section[data-type="switching"] h2 {
    text-align: center;
}
#landing-page section[data-type="switching"] ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}
#landing-page section[data-type="switching"] ul li {
    padding: 0;
    display: block;
    width: 80%;
    margin-left: 10%;
}
#landing-page section[data-type="switching"] ul li .img-wrap img {
    max-width: 30%;
    padding-top: 20px
}
#landing-page section[data-type="switching"] ul li h3 {
    margin-bottom: 15px;
    font-size: 20px;
}
#landing-page section[data-type="switching"] ul li h4 {
    margin: 0;
}
#landing-page section[data-type="switching"] ul li p {
    margin-top: 7px;
}
#landing-page section[data-type="switching"] .button-wrap {
    text-align: center;
}
#landing-page section[data-type="switching"] .button-wrap a {}
#landing-page section[data-type="switching"] .button-wrap a:hover {}
#landing-page section[data-type="faqs"] {
    text-align: center;
    background-color: #f6fafc;
    padding: 200px 0 100px 0;
    margin: 0 0 200px 0;
}
@media(max-width: 765px) {
	#landing-page section[data-type="faqs"] {
		padding: 0 0 100px 0;
	}
}
#landing-page section[data-type="faqs"] span {
    display: block;
    text-transform: capitalize;
}
#landing-page section[data-type="faqs"] h2 {
    display: block;
}
#landing-page section[data-type="faqs"] ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}
#landing-page section[data-type="faqs"] ul li {
    display: inline-block;
    width: 280px;
    vertical-align: top;
}
#landing-page section[data-type="faqs"] ul li:first-child:before {
    background-color: #f5f0f3;
}
#landing-page section[data-type="faqs"] ul li:nth-child(2):before {
    background-color: #f5f1f5;
    margin-top: -160px;
}
#landing-page section[data-type="faqs"] ul li:nth-child(3):before {background-color: #e8f4ed;}
#landing-page section[data-type="faqs"] ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
#landing-page section[data-type="faqs"] ul li a:hover {}
#landing-page section[data-type="faqs"] ul li a .img-wrap {
    width: 100%;
}
#landing-page section[data-type="faqs"] ul li a .img-wrap img {
    max-width: 100%;
}
#landing-page section[data-type="faqs"] ul li a span {margin: 10px 30px;}

/* ==========================================================================
   All Media Query Styles
   ========================================================================== */
@media only screen and (min-width: 1900px) {
    #landing-page section[data-type="video-hero"] iframe {
        height: 1100px;
    }
}

@media only screen and (min-width: 1024px) {
    #landing-page section[data-type="video-hero"] .img-wrap {
        display: inline-block;
        width: 50%;
        margin: 0;
    }
    #landing-page section[data-type="video-hero"] .info-wrap {
        display: inline-block;
        width: 50%;
        margin-left: -5px;
        padding: 190px 50px 0 50px;
        text-align: left;
    }
    #landing-page section[data-type="video-hero"] .info-wrap .button-wrap {
        text-align: left;
    }

    #landing-page section[data-type="family-saver-2"] .video-wrap {
        width: 50%;
    }
    #landing-page section[data-type="family-saver-2"] .info-wrap {
        width: 50%;
        text-align: left;
        margin-top: 0;
        margin-left: -5px;
        padding: 0 50px;
    }
    #landing-page section[data-type="family-saver-3"] {
        margin: 150px 0 0 5%;
    }
    #landing-page section[data-type="family-saver-3"] .info-wrap {
        width: 40% !important;
        text-align: left;
    }
    #landing-page section[data-type="family-saver-3"] .diagram-wrap {
        opacity: 1;
        display: block;
    }
    #landing-page section[data-type="referal"] {
        margin-top: 150px;
        display: block;
        text-align: left;
    }
    #landing-page section[data-type="referal"] .info-wrap {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        padding: 15px;
        text-align: left;
    }
    #landing-page section[data-type="referal"] .video-wrap {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        margin-left: -5px;
        border-radius: 30px;
        overflow: hidden;
    }
    #landing-page section .info-wrap {
        padding: 25px 25px 0 25px;
    }

    #landing-page section[data-type="tech"] .img-wrap {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }
    #landing-page section[data-type="tech"] .info-wrap {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        margin-left: -5px;
        text-align: left;
    }
    #landing-page section[data-type="switching"] ul li {
        display: inline-block;
        width: 24%;
        padding: 0 20px;
        margin-left: 0;
        vertical-align: top;
    }
    #landing-page section[data-type="volt"] .diagram-wrap {
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: 50%;
    }
    #landing-page section[data-type="volt"] .info-wrap {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        margin-left: -5px;
        text-align: left;
    }
    #landing-page section[data-type="volt"] .info-wrap ul {
        list-style-type: disc;
    }
    #landing-page section[data-type="apps"] {
        margin-top: 150px;
        display: block;
    }
    #landing-page section[data-type="apps"] .info-wrap {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        text-align: left;
    }
    #landing-page section[data-type="apps"] .img-wrap {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        margin-left: -5px;
        position: relative;
        text-align: left;
    }
    #landing-page section[data-type="chat"] .diagram-wrap  {
        display: block;
    }
    #landing-page section[data-type="chat"] .diagram-wrap .left {
        display: inline-block;
        width: 30%;
        vertical-align: top;
        text-align: right;
        padding-top: 100px;
    }
    #landing-page section[data-type="chat"] .diagram-wrap .center {
        display: inline-block;
        width: 40%;
        vertical-align: top;
        margin-left: -5px;
        text-align: center;
    }
    #landing-page section[data-type="chat"] .diagram-wrap .right {
        display: inline-block;
        width: 30%;
        vertical-align: top;
        margin-left: -5px;
        text-align: left;
        padding-top: 100px;
    }
    #landing-page section[data-type="chat"] .diagram-wrap .left a {
        height: 100%;
        margin-bottom: 80px;
        display: block;
        width: 100%;
        color: #000;
        text-decoration: none;
        margin-top: 0;
    }
    #landing-page section[data-type="chat"] .diagram-wrap .right a {
        height: 100%;
        margin-bottom: 58px;
    }
    #landing-page section[data-type="chat"] .diagram-wrap .left a .info-wrap {
        display: inline-block;
        width: calc(100% - 55px);
        padding-right: 20px;
        padding-top: 0;
    }
    #landing-page section[data-type="chat"] .diagram-wrap .left a .img-wrap {
        display: inline-block;
        width: 50px;
        height: 50px;
        vertical-align: top;
    }
    #landing-page section[data-type="chat"] .diagram-wrap .left a .img-wrap img {
        max-width: 100%;
    }
    #landing-page section[data-type="chat"] .diagram-wrap .right a {
        display: block;
        width: 100%;
        color: #000;
        text-decoration: none;
        margin-top: 0;
    }
    #landing-page section[data-type="chat"] .diagram-wrap .right a .img-wrap {
        display: inline-block;
        width: 50px;
        height: 50px;
        vertical-align: top;
    }
    #landing-page section[data-type="chat"] .diagram-wrap .right a .info-wrap {
        display: inline-block;
        width: calc(100% - 55px);
        padding-left: 20px;
        padding-top: 0;
        vertical-align: top;
        margin-top: 0;
    }
    #landing-page section[data-type="family-saver-2"] {
        margin-top: 120px;
    }
}

@media only screen and (min-width: 326px) {
    #landing-page section[data-type="video-hero"] .info-wrap .button-wrap a:first-child {
        margin-right: 10px;
    }
}

@media only screen and (min-width: 375px) {
    .full-width-video {
        top: 44px;
    }
    .video-overlay-text {

    }
    .video-overlay-text h1{

    }
}

@media only screen and (max-width: 768px) {
    .full-width-video {
        bottom: -5px;
    }
    .video-overlay-text {
        bottom: 25%;
        right: 25%;
    }
    .video-overlay-text h1{}
}