﻿/*@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.eot');
	src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Light.woff') format('woff'),
		url('../fonts/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
*/

body{font-family: 'Quicksand', sans-serif;}
.boxIcon > img
{
	width: 20px;
}
.boxIcon.bul-icon > img {
    width: 20px;
	margin-right:10px;
	margin-top:-3px;
}
.imageElec > img
{
	width: 30px !important;
}
.imageTop.imageElec {
    padding: 14px !important;
}
*{ box-sizing:border-box;}
body{
background-color:#f5f9fc !important;
}
a{ text-decoration:none;}
.loginOuter{ background:url(../img/bgred.png); background-size:cover; float:left; width:100%; position:relative;}
.logo{ float:left; margin-left:30px; margin-top:30px;}
.logo a{ font-family: 'Montserrat', sans-serif; font-size:27px; color:#fff; }
.headerNav{ float:right; margin-top:30px; margin-right: 10px;}
.headerNav ul{ margin:o; padding:0;}
.headerNav ul li{ list-style:none; float:left; padding:8px 15px; transition:all 0.6s;}
.headerNav .navInner li{ background:#62c6f2; border-radius:30px;}
.headerNav .navInner li:first-child{  margin-right:10px;}
.headerNav ul li:hover{ background:rgba(0,0,0,0.1); transition:all 0.6s;}
.headerNav ul li:hover a{ text-decoration:none;}
.headerNav ul li a{ color:#fff; font-size:14px;}
.headerNav ul li a img{ margin-right:3px;}
.loginBox{ width:100%; margin:auto; float:left; text-align:center;}
.loginInner{ background:#fff; box-shadow:0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); width:450px; padding:30px; display:inline-block; border-radius:10px; margin-top:40px;} 
.loginBox h2{color: #aaa; font-size: 30px; padding-bottom: 20px; margin: 0; font-weight:300; letter-spacing:3px; font-family: Roboto,Helvetica,sans-serif;}
.icons{ display:inline-block; margin-top:30px;}
.icons img{ float:left; padding:0 10px;}
.loginBelow{ font-size:12px; margin-top:10px; color:#636363;}
.email{ padding:20px 0;}
.email img{ margin-right:5px;}
.password, .email{ text-align:left;}
.password img{ margin-right:5px;}
.forgotPswd{ float:right; font-size:11px; color:#636363; margin-top:5px; cursor:pointer;}
.loginBox .button{ background:#62c6f2; color:#fff; padding:8px 25px; border-bottom: 0 none; border-radius:30px;  display:block; margin:40px auto; width:40%; transition:all 0.6s;
    box-shadow: 0 2px 2px 0 rgba(119, 119, 119, 0.14), 0 3px 1px -2px rgba(119, 119, 119, 0.2), 0 1px 5px 0 rgba(119, 119, 119, 0.12);
}



.button:hover a{ text-decoration:none;}
.button:hover{  transition:all 0.6s; color:#fff;
box-shadow: 0 14px 26px -12px rgba(91, 192, 222, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(91, 192, 222, 0.2);
}
.button a{ color:#fff; display:inline-block;}
.loginBox input{ border:none; border-bottom:0px solid #636363; width:92%;}
.footerNav{ float:left; margin-left:30px;}
.footerNav ul{ margin:o; padding:0;}
.footerNav ul li{ list-style:none; float:none; padding:10px 20px; display:inline-block;transition:all 0.6s;}
.footerNav ul li a{ color:#000; font-size:14px;}
.copyright{    float: left;   width: 100%;    color: #000;    font-size: 11px;    margin-bottom: 20px; text-align:center;}
.dash_footer{   /* position: absolute; */ bottom: 0;width:100%; background:#fff; margin-top:48px; }
header{ margin-bottom:100px;}
footer{ 
/*    bottom: 0;
    float: left;
    margin: 400px 0 50px;
    position: relative;
    width: 100%;*/
}
body.login-bg {
    background-color: #fff !important;
}


.lg-footer {
    bottom: 20px;
    float: none;
    padding-top: 0;
    position: relative;
    width: 100%;
	text-align:center;
	
}




.footerNav ul li:hover{ background:rgba(0,0,0,0.1); transition:all 0.6s;}
.footerNav ul li:hover a{ text-decoration:none;}
.email.email2{padding:0;}
.loginOuter.registerOuter .button{ width:55%;}
.terms{ margin-top:30px; font-size:12px; text-align:left;}
.terms span{ color:#f64051;}
.registerOuter .loginBox .terms input { width:auto; outline:none;}
.box1{ background:#fff; border-radius:10px; box-shadow:0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); display:inline-block; margin:auto; position:relative; padding:20px 0; width:267px;}
.box1 .boxInner{ position:absolute;}
.box1 .text{ float:right; text-align:right; margin-top:-15px;}


/* Base for label styling */
.terms [type="checkbox"]:not(:checked),
.terms [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.terms [type="checkbox"]:not(:checked) + label,
.terms [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  padding-top:2px;
}

/* checkbox aspect */
.terms [type="checkbox"]:not(:checked) + label:before,
.terms [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.7em; height: 1.7em;
  border: 1px solid #676767;
  background: #fff;
  border-radius: 50%;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
.terms [type="checkbox"]:not(:checked) + label:after,
.terms [type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .3em; left: .3em;
  font-size: 1.2em;
  line-height: 0.8;
  color: #f64051;
  transition: all .2s;
}
/* checked mark aspect changes */
.terms [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.terms [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.terms [type="checkbox"]:disabled:not(:checked) + label:before,
.terms [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #676767;
  background-color: #676767;
}
.terms [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.terms [type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
.terms [type="checkbox"]:checked:focus + label:before,
.terms [type="checkbox"]:not(:checked):focus + label:before {
  border: 1px solid #676767;
}

/* hover style just for information */
.terms label:hover:before {
  border: 1px solid #676767!important;
}
.modal-dialog {
    margin: auto;
    margin-top: 8%;
    width: 600px;
}
.imageTop > img {
    width: 20px;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}
.leftSide{
 float:left; background: #fff url(../img/dashboardBg.jpg); background-size:100%; width:17%; box-shadow:0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); padding-bottom:70px; background-repeat:no-repeat;
     min-height: 100vh;
 }
.dashboard{ background:#eeeeee; float:left; width:100%;}
.userImage{ float:none; width:auto; text-align:center; margin:30px 0; padding-bottom:0;}
.userImage img{ max-width:110px;}
.dashboard .logo{ width:auto; text-align: center; margin: 5px 10px 10px 10px; padding:20px 0; float:none; clear:both;}
.dashboard .dashboardList ul{ margin:0; padding:0;}
.dashboard .dashboardList ul li{ list-style:none; margin:5px 10px; }
.dashboard .dashboardList ul li img{ margin-right:10px; margin-bottom:3px; width:20px;} 
.dashboard .dashboardList ul li img.hover{ display:none;}
.dashboard .dashboardList ul li:hover img.main{ display:none;}
.dashboard .dashboardList ul li:hover img.hover{ display:inline-block;}
.dashboard .dashboardList ul li a{ color:#000; text-decoration:none; padding:10px 20px; display:block;}
.dashboard .dashboardList ul li:hover a{ color:#fff;}
.dashboard .dashboardList ul li:hover a{ background:#f64152; border-radius:10px;}
.dashboard .dashboardList ul li.dropdownList1:hover ul li, .dashboard .dashboardList ul li.dropdownList2:hover ul li, .dashboard .dashboardList ul li.dropdownList3:hover ul li{ border-radius:0; background:transparent; }
.dashboard .dashboardList ul li.dropdownList1:hover ul li a, .dashboard .dashboardList ul li.dropdownList2:hover ul li a, .dashboard .dashboardList ul li.dropdownList3:hover ul li a{ color:#fff;}
.dashboard .dashboardList ul li:hover{ text-decoration:none; color:#fff;}
.dashboard .dashboardList{ float:left; width:100%;}
.dashboardHeading{ float:left;}
.dashboardHeading img{ margin-right:10px;}
.dashboardNav{ float:right;}
.dashboard .rightSide{ padding:20px 40px 20px 40px; float:left; width:83%; min-height:100vh; position:relative;}
.dashboard .dashboardNav ul{ margin:0; padding:0;}
.dashboard .dashboardNav ul li{ list-style:none; display:inline-block;}
.dashboard .dashboardNav ul li input{border:none; border-bottom:1px solid #000; background:none;}
.dashboard .dashboardNav ul li:nth-child(2){ padding:5px; border-radius:50%; margin-right:20px; width:auto; height:30px;}
.dashboard .dashboardNav ul li:nth-child(2) img{ margin-bottom:4px; margin-right:4px; padding-left:3px;}
.rightSide .box{ float:left; width:100%; text-align:center; margin:45px 0;}
.rightSide .box .box1 .boxInner{ 
    background: #62c6f2 none repeat scroll 0 0;
    border-radius: 10px;
    height: 60px;
    left: 15px;
    padding: 14px;
    position: absolute;
    top: -15px;
    width: 60px;
}
.navbar .navbar-nav > li > a {
    color: #fff;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(0, 0, 0) !important;
    background-image: none;
    color: rgb(0, 0, 0);
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
	 background:#333333 !important;
}

.box1 .boxInner > img {
    width: 32px;
}
.box2 .boxInner > img {
    width: 20px !important;
}
.rightSide .box .box1.box2 .boxInner{ background:#F64152;}
.rightSide .box .box1.box2{ margin-left:10px;}
.greyLine{ background:#eeeeee; height:2px; float:left; width:100%; margin:15px 0 5px 0;}
.boxUpper{ float:left; width:100%; padding:0 15px;}
.boxText{ float:left; padding:0 15px;}
.box1 .boxText a{ color:#62c6f2; font-size:12px; text-decoration:none;}
.box1 .boxText a:hover{ color:#777777;}
.box2 .boxText a{ color:#F64152; font-size:12px; text-decoration:none;}
.boxInner img{ width:20px;}
.dashboardTable{ background:#fff; box-shadow:0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); float:left; width:100%; position:relative; border-radius:10px; }
.dashboardTable .imageTop{ background:#f64152; padding:14px 20px; float: left; border-radius: 10px; margin-left: 20px; margin-top: -15px; width:60px; height:60px; position:relative;}
.tableHeading{display: inline-block; float: left; margin-left: 15px; margin-top: 15px;}
.dashboardTable table{ margin:20px 20px 50px 20px; float:left; width:95%;}
.dashboardTable table th{ color:#F64152;}
.dashboardTable table th, .dashboardTable table td{ padding:5px 10px; }
.dashboardTable table td img{ margin-right:10px;}
.footer{ 
    border-top: 0px solid #cecece;
    bottom: 0;
    float: left;
    margin-top: 40px;
    padding-top: 0px;
    position: absolute;
	text-align: center;
    width: auto;
}
.login-bg .footer {
    padding-top: 120px !important;
}
.footer-white {
    background-color: transparent !important;
}
.footermobile{
	position:absolute !important;
	width: auto;
	bottom:10px;
	left:0;
	right:0;
	margin:auto;

}
.dashboardNav a {
    color: #000;
    font-family: roboto;
    font-size: 14px;
    line-height: 24px;
	text-decoration: none;
}
.footer .footerNav ul li a{ color:#4f4f4f; font-size:12px; text-transform:uppercase;}
.footer .footerNav ul li { padding:10px;}
.footer .footerNav{ margin:0;}
.footer .copyright{ margin-right:0; font-size:12px; text-align: center; color:##4f4f4f;}
.dashboardTable table{ overflow:auto; display:block; min-height:90px;}
.dashboardTable .imageTop.imageElec{ background:#62c6f2; border-radius: 10px}
.dashboardTable.dashboardTable2 table th, .dashboardTable.dashboardTable2 table th{ color:#62c6f2;}
.boxTimer .boxIcon{ margin:auto; display:inline-block; margin:25px auto 18px auto; color:#fff; font-size:20px;}
.boxTimer{display:inline-block; width:60%; background:#62c6f2; padding:15px 15px 40px 15px; margin-top:-20px; border-radius:15px;
box-shadow:0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); position:relative; }
.boxTimer img{ display:inline-block;}
.boxTimer .timer{width:100%; text-align:center; display:inline-block;}
.boxTimer .timer ul{ margin:0; padding:0;}
.boxTimer .timer ul li{ display:inline-block; background:#fff; padding: 10px 15px; color:#000; list-style:none;margin-right:10px;}
.dashboard.dashboard3 .dashboardTable{ width:100%; float:none; display:inline-block; max-width:500px;
text-align:center;}
.dashBoardTableOuter{ float:left; width:100%; text-align:center;}
.reading{ font-size:12px; color:#fff; display:inline-block; padding-top:30px;}
.meterHeading{ color:#000; text-align:center; font-size:14px; margin:20px 0; display:inline-block; width:100%;}
.meterBottom{ display:inline-block; width:100%; padding:20px 0; border-top:1px solid #ebebeb;}
.dashboard3 .rightSide .box{ margin-bottom:40px;}
.meterDate{ float:left; margin-left:20px; font-size:12px;}
.meterBottom .meterButton{ background:#62c6f2; padding:10px 20px; border-radius:10px; 
margin:-12px auto 0 auto; text-align:center; color:#fff; width:40%; cursor:pointer;}
.meterBottom .meterButton:hover{ background:#777;}
.boxTimer .reading img{ margin-top:-4px; margin-right:5px;}
.meterDate img{margin-top:-4px; margin-right:5px;}
.dashboard4 .boxTimer{ background:#F64152;}
.listInner1, .listInner2, .listInner3{ display:none; margin-left:5px; }
.dashboard .dashboardList .listInner1.collapse1, .dashboard .dashboardList .listInner2.collapse1, .dashboard .dashboardList .listInner3.collapse1{ display:block; float:left; width:100%; margin:5px 0 5px 20px; }
.dashboard .dashboardList .listInner1.collapse1 li, .dashboard .dashboardList .listInner2.collapse1 li,
.dashboard .dashboardList .listInner3.collapse1 li{border-radius:0; padding:5px 20px; margin:0;}
.listInner1.collapse1 li:hover, .listInner2.collapse1 li:hover, .listInner3.collapse1 li:hover{ border-radius:0;}
.dashboard .dashboardList .listInner1.collapse1 li a, .dashboard .dashboardList .listInner2.collapse1 li a, 
.dashboard .dashboardList .listInner3.collapse1 li a { text-decoration:none; color:#777;}
.dashboard .dashboardList ul li:hover .listInner1.collapse1 li a, .dashboard .dashboardList ul li:hover .listInner2.collapse1 li a, .dashboard .dashboardList ul li:hover .listInner3.collapse1 li a{ color:#fff;}
.dashboard .dashboardList ul li .listInner1.collapse1 li:hover a, .dashboard .dashboardList ul li .listInner2.collapse1 li:hover a, .dashboard .dashboardList ul li .listInner3.collapse1 li:hover a{ color:#000;}
.dashboardList ul li{ cursor:pointer; float:left; width:90%;}
.clickArrow2, .clickArrow4, .clickArrow6{ display:none;}


/*loader css*/
   #loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   z-index: 9999;
    opacity: .8;
}
    #loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
 
        border: 3px solid #3498db;
        z-index: 1500;
    }

    #loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid #e74c3c;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid #f9c922;
}

/* change border to transparent and set only border-top to a solid color */
#loader {
    border: 3px solid transparent;
    border-top-color: #3498db;
}
#loader:before {
    border: 3px solid transparent;
    border-top-color: #e74c3c;
}
#loader:after {
    border: 3px solid transparent;
    border-top-color: #f9c922;
}

#loader {
    border-radius: 50%;
}
#loader:before {
    border-radius: 50%;
}
#loader:after {
    border-radius: 50%;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) { 
.footer {
    position: relative !important;
    width: 100% !important;
}
.dashboardNav {
    margin: -33px 0 0 !important;
    width: 50px !important;
	float:right !important;
}
.col-sm-12 .meterButton {
    float: left;
    margin: 1%;
    width: 48% !important;
}
.dashboard.dashboard3 .dashboardTable {
    max-width: 100% !important;
}
.dashboardNav{
	float:left !important;
	width:100% !important;
	margin-top:40px !important;
}
.dashBoardTableOuter .meterBottom3 .meterButton{
	display:block;
	width:70%;
	margin-top:10px;
}


}
@media screen and (min-device-width: 767px) and (max-device-width: 858px) { 
.box1 {
width:100% !important;
}
.rightSide .box .box1.box2 {
margin:30px 0 0 0 !important;
}
}
	
/* copy and paste the animation inside all 3 elements */
/* #loader, #loader:before, #loader:after
-webkit-animation: spin 1.5s linear infinite;
animation: spin 1.5s linear infinite;*/
 
/* include this only once */
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
#loader {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}



@media screen and (max-width:1000px){
	.footerNav, .copyright{ float:none; margin:auto; width:100%; display:inline-block; text-align:center;}
	.burgerMenu{ display:inline-block; float:left; margin-top:30px; margin-left:30px;}
	.burgerMenu img{ cursor:pointer;}
	.leftSide{ display:none;}
	.leftSide.active{ position:absolute; left:0;}
	.cancelButton{ display:inline-block; float:right; margin-top:10px; margin-right:10px;  clear:both; cursor:pointer;}
	.footer{ position:relative;}
}

@media screen and (max-width:500px){
	.loginInner{ width:90%;}
	.copyright{ margin-top:10px;}
	.loginBox input{ width:88%;}
	.loginOuter.registerOuter .button{ width:70%;}
	.footerNav ul li{ padding:7px;}
	.footerNav ul li a{ font-size:10px;}
	.copyright{ font-size:10px;}
	.loginBox .button{ width:50%;}
	.headerNav ul li{ float:none; display:inline-block;	}
	.headerNav{ float:none; display:inline-block; text-align:center; width:100%;}
	.logo { float: none; margin: 20px auto; text-align: center;}
	.footer{ padding-bottom:10px;}
	.headerNav{ margin-right:0;}
	.modal .modal-dialog{ width:100% !important;}
}

@media screen and (min-width:1000px){
	.burgerMenu{ display:none;}
	.cancelButton{ display:none;}
}

@media screen and (max-width:1100px){
	.dashboard .leftSide{ width:25%;}
	.dashboard .rightSide{ width:73%; float:right;}
	.logo img{ max-width:100%;}
		
}
	
@media screen and (max-width:767px){
	.dashboardNav{ float:none; margin:auto; clear:both; width:100%;}
	.dashboard .leftSide{ width:100%; z-index:111;}
	.dashboard .rightSide{width:100%; padding:0 2%; float:right; margin-top:7px;}
	.burgerMenu{margin-top:15px; margin-bottom:10px; cursor:pointer; margin-left: 13px; margin-right: 10px;}
	.box1{width:100%;}
	.rightSide .box .box1.box2{ margin-left:0; margin-top:20px;}
	.boxTimer{ width:100%;}
	.footerNav ul{margin-bottom:0;}
	.loginOuter .lg-footer.footerLogin{ margin:20px auto 20px auto; display:inline-block;}
	.meterBottom .meterButton{ width:auto;}
	.loginOuter .lg-footer.footerLogin{ position:static !important;}
}	
	@media screen and (max-width:600px){
	.meterBottom .meterButton{ display:inline-block;}
	}
@media screen and (max-width:400px){
	.boxTimer .timer ul li{padding: 10px 10px;}
	}
	
	
.main h1 {
    color: #fff;
    font-size: 38px;
}
.main > p {
    color: #fff;
    font-size: 15px;
    line-height: 23px;
    margin: 0 0 30px;
}
	
.lg-footer.footerLogin{
	position:absolute !important;
}

#navigation-example{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.footer.footer-white.footer-big p{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.loginOuter .navbar .navbar-nav > li > a:hover{
	color:#fff;
}

.loginInner{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.loginOuter .footer{
	position:relative !important;
	width:100%;
}

.navbar-nav .btn.btn-info{
	padding:5px 20px;
	border-radius:30px;
	border:none;
}

.navbar-nav .btn.btn-info:hover{
	box-shadow:0 14px 26px -12px rgba(91, 192, 222, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(91, 192, 222, 0.2);
	background:#5bc0de;
	border:none;
}

.footer .content ul li{
	list-style:none;
	text-align:left;
}

.footer .content ul{
	padding:0;
}

.footer .content h5{
	font-weight:bold;
	margin-bottom:25px;
	display:inline-block;
}

.footer .content ul li a{
	font-family:Roboto,Helvetica,sans-serif;
	padding-bottom:10px;
	color:#3c4858;
	text-transform:uppercase;
	display:inline-block;
}

.footer .content .col-md-3, .footer .content .col-md-2{
	text-align:left;
}

.footer .content .footerLogo{
	display:inline-block;
	padding-bottom:10px;
}

.quick-contact .icon {
	float:left;
	margin-right:10px;
}

footer .info .info-title{
	margin:13px 0 15px;
	color:#3c4858;
}

footer .info .info-title a{
	color:#3c4858;
	font-size:14px;
}

.active22{
	background:#f64152 !important;
	border-radius:10px;
	color:#fff !important;
}

.boxTimer .close{
	color:#fff !important;
	opacity:1 !important;
	position:absolute;
	right:10px;
	top:8px;
}

.boxTimer #selectAccount{
	width:202px;
	margin:auto;
	padding:5px;
}

.profileTable tr{
	float:left;
	width:100%;
	border-bottom:1px solid #c6c6c6;
}

.profileTable tr td{
	float:left;
}

#login_portal .email img, #login_portal .password img{ margin-top:-2px !important; width:15px;}
.meterBottom.meterBottom22 .meterButton{ padding:5px 20px; height:44px; line-height:35px;}
.meterBottom.meterBottom22 .meterButton img{ margin-top:-6px;}
.meterBottom3 .meterButton{ display:inline-block; margin-top:-1px;}
.dashboardTable3 table tr td, .dashboardTable3 table tr th{ width:50% !important; float:left !important; text-align:left;
border-bottom:none; border-right:none;}
.dashboardTable3 table tr, .dashboardTable3 table thead, .dashboardTable3 table tbody { width:100% !important; float:left !important;}
.dashboardTable3 table{ width:100% !important; margin:20px auto; padding:0 20px; max-height:400px; overflow:auto;}
.dashboardTable3 table tr td.noRecord{text-align:center; float:left; width:100% !important; font-weight:bold; padding-top:25px;}
/*.modal-dialog.modal-dialog2{ margin-top:4% !important;}*/















/******************************Edit CSS By MO************************/
.topbar{    float: left;  width: 100%;    background: #ea495c; padding:10px 0px;}
.topbar .container {width: 90.5%;}
.dropdown-item{float:left;  font-size:17px;     padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;}

.gas_card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 30px;
    background: #fff;
    cursor:pointer;
    -webkit-box-shadow: 0px 0px 42px -12px rgba(133,133,133,1);
    -moz-box-shadow: 0px 0px 42px -12px rgba(133,133,133,1);
    box-shadow: 0px 0px 42px -12px rgba(133,133,133,1);
    padding:30px 20px;
}

 input.form-control.update {border-radius:  6px;}     

  .well {padding: 0 70px;font-size: 1.1rem;margin: auto;height: 100%;display: block;}
  
  
form#updateCustomerDetail fieldset {
    max-width: 100%;
    margin-left:  auto;
    margin-right:  auto;
    float: none;
    padding-top: 30px;
    display: block;
    position: relative;
    text-align: center;
    padding-right: 0px;
    padding-left: 15px;
}

.update-label {
    -moz-box-shadow:inset -1px -1px 0px 0px #c9c9c9;
	-webkit-box-shadow:inset -1px -1px 0px 0px #c9c9c9;
	box-shadow:inset -1px -1px 0px 0px #c9c9c9;
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius: 18px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#ea495c;
	font-family:'Quicksand', sans-serif;
	font-size:16px;
	padding: 25px 16px;
	width: 72%;
	height: 50%;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	
}

.myaccount-label {
    font-size: 14px;
    line-height: 1.4;
    -moz-box-shadow: inset -1px -1px 0px 0px #c9c9c9;
    -webkit-box-shadow: inset -1px -1px 0px 0px #c9c9c9;
    box-shadow: inset -1px -1px 0px 0px #c9c9c9;
    background-color: #fff;
    border-radius: 18px;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    color: #ea495c;
    padding: 21px 1px;
    z-index: 1;
    display: grid;
    align-items: center;
    font-weight: 600;
    }
    
.myaccount-input {
    position:  relative;
    right: 37px;
    z-index: 0;
    padding-right: 0;
}

form#update_form input::placeholder, form#updateCustomerDetail input::placeholder {
    text-align: left;
}

form#update_form input, form#updateCustomerDetail input {
    text-align: left;
}

.borderred {
    border-bottom: 2px solid #ea495c;
}

label.col-md-4.control-label {
    text-align: left;
}



span.dash-over-text.account {
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 25px;
}

input.form-control.update:read-only {
    background-color: white;
}

input.form-control.update {
    font-size: 1.2rem;
    background-color:  #f1f1f1;
}

.rounded-login-btn.update {
    margin-top: 30px;
}
  
  #registraion-form .form-control::placeholder { color:#f2aaaa; }
  #registraion-form #phone_no_op::placeholder { color:#aeaeae!important; }
  /*#registraion-form #red-arrow::placeholder { color:#f2aaaa!important; }*/
  
  .product-code-no-d{background: #fff !important;border-radius: 18px;color: #f64d75 !important;padding: 8px 23px;font-weight: 500; margin-top:8px; float:none;}
  #navbarDropdownMenuLink-3-main-dashboard{color:#fff;}
  #phone_number::placeholder{color:#aeaeae!important;}  
  .well_box{margin: 0 auto; padding: 0 70px;}
  .well_box fieldset {
    min-width: 50%;
    float: left;
    text-align: center;
}


form#updateCustomerDetail fieldset {
    max-width: 100%;
    margin-left:  auto;
    margin-right:  auto;
    float: none;
    padding-top: 30px;
    display: block;
    position: relative;
    text-align: center;
    padding-right: 0px;
    padding-left: 15px;
}


/* progress bar - start */

.multi-steps > li.is-active:before, .multi-steps > li.is-active ~ li:before {content: counter(stepNum);font-family: inherit;font-weight: 700;}
.multi-steps > li.is-active:after, .multi-steps > li.is-active ~ li:after {background-color: #ededed;}

.multi-steps {display: table;table-layout: fixed;width: 100%;}
.multi-steps > li {counter-increment: stepNum;text-align: center;display: table-cell;position: relative;color: red; font-size:15px;}
.multi-steps > li:before {content: '\f00c';content: '\2713;';content: '\10003';content: '\10004';content: '\2713';display: block;margin: 0 auto 4px;background-color: #fff;width: 36px;
    height: 36px;line-height: 32px;text-align: center;font-weight: bold;border-width: 2px;border-style: solid;border-color: red;border-radius: 50%;}
.multi-steps > li:after {content: '';height: 2px;width: 100%;background-color: red;position: absolute;top: 16px;left: 62.3%;z-index: 0;}
.multi-steps > li:last-child:after {display: none;}
.multi-steps > li.is-active:before {background-color: #fff;border-color: red;}
.multi-steps > li.is-active ~ li {color: #808080;}
.multi-steps > li.is-active ~ li:before {background-color: #ededed; border-color: #ededed;}

  /* progress bar - end */

  /* moving home form - start */

  .tab {display: none;}
  .tabend {display: none;}
  .en_select{width:100%;display: none;}
  .row.address {float:left;width:100%;display:  -webkit-inline-box;}
  .form-group.address {width: 100%;}
  .blue-box-top-c.move{padding:0;}
  .well.form-horizontal.move {margin: 40px;}

  /* moving home form - end */
  
 .meter-help-lnk{font-size:15px;}
 #electric_reading{margin:0 auto; float:none;}
 
 .invoice_table{float:left; width:100%; }
  .invoice_table table{float:left; width:100%; text-align:left;  }
   .invoice_table table tr th{ padding:18px 6px; font-size:20px; font-weight:600;  color:#ea495c; line-height:30px; border-bottom:2px solid #000; }
   .invoice_table table tr td{ padding:15px 6px; font-size:17px; color:#000;  }
   .center_text{text-align:center;}
   .center_text .fa-cloud-download{ color:#ea495c; font-size:22px;}
   
   
#MainMenu a.list-group-item {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 15px;
  background: #fff;
  text-align: center;
  font-weight: 800;
  color: #000;
  margin-bottom: 10px;
}

#faqslideout {
  top: 12%;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: none;
}

#faqslideout .modal-title {
  text-align: center;
  display: block;
  width: 100%;
  color: #ea495c;
  font-weight: 800;
}

#faqslideout button.close {
  padding-left:  0;
  margin-left: 0;
  font-size: 42px;
  position: absolute;
  top: 29px;
  color: #ea495c;
  opacity: 1;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 0 10px 2px;
  border-radius: 8px;
}

.modal-footer{
    min-height: 80px;
  }

.slideOutTab div img {
  max-height: 350px;
}

#slideOut {
  position: fixed;
  width: 400px;
  top: 130px;
  right: -400px;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  z-index: 1;
}

/* Display slideOut */

.showSlideOut {
  right: -1px !important;
}

/* Tab */

.slideOutTab {
  position: fixed;
  right: -23px;
  top: 33%;
  cursor:pointer;
}

.slideOutTab div {
  text-align: center;
  position: relative;
  right: 20px;
  width: 53px;
  cursor: pointer;
}

#slideoutfaq {
  position: absolute;
  right: 1%;
  top: 30%;
  cursor: pointer;
  max-height: 350px;
}

#slideoutfaq img {
  max-height: 350px;
}

#slideoutfaq:hover {
  right: 1.05%;
}

.effect-sadie .switch_icon .contact-img{
    width: unset;
    height: 255px;
}

figure.effect-sadie:hover .switch_icon .contact-img{
    width: unset;
    height: 204px;
}

.effect-sadie .switch_icon .mail-i{
    height: 220px;
}

figure.effect-sadie:hover .switch_icon .mail-i{
    height: 185px;
}

.effect-sadie .switch_icon .faq-img {
    width: unset;
    height: 65px;
}

.faq-icons{
    width: 27%;
    display: inline-block;
}



.slide-icons{
    position: relative;
    left: 330px;
    animation: slideFAQ 0.2s forwards;
    animation-delay: 0.1s;
}

@-webkit-keyframes slideFAQ {
    100% { left: 0; }
}

@keyframes slideFAQ {
    100% { left: 0; }
}

#popup-container .popup-background .email-modal .emails p {
    font-size: 35px;
    font-weight: 500;
    color: #000;
}

.emails {
    padding: 80px 0px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.emails:hover{
    box-shadow: 0px 0px 0px 1px #ea495c;
}

.emails .email-at{
    color: #ea495c;
    font-size: 35px;
}