/*
Theme Name:   Twenty Seventeen Child Two
Template: twentyseventeen
*/

body{
	margin:0;
	font-family: 'Roboto', sans-serif;
	color:#666
}

h1, h2, h3, h4{font-family: 'Montserrat', sans-serif; font-weight:700; color:#ea495c}

h2{font-size:28px; line-height:36px}
h3{font-size:22px; line-height:30px}
h4{font-size:18px; line-height:28px}

a{color:#ea495c; text-decoration:none}
a:hover{text-decoration:underline}

#topnav-outer{
	width:100%;
	height:25px;
	text-align:center;
	background-color:#e5e5e5
}

#topnav-inner{
	width:90%;
	max-width:1500px;
	text-align:left;
	margin:0 auto;
	font-size:15px;
    line-height:25px;
}

#topnav-inner a{color:#666; text-decoration:none}
#topnav-inner a:hover{color:#666; text-decoration:underline}

#blog-banner{
	width:100%;
	height:115px;
	background-image:url('/blog/images/blog-header-2.svg');
	background-size:100% auto;
	background-position:bottom;
	text-align:center;
	padding-top:60px;
	z-index:10
}

img.blog-logo{max-width:80%; height:auto}

#wrapper-outer{
	width:100%;
	text-align:center
}

#wrapper-inner{
	width:90%;
	max-width:1500px;
	text-align:left;
	margin:0 auto;
	padding:50px 0 0 0
}

#footer-outer{
	width:100%;
	text-align:center;
	background-color:#474c59;
	margin:100px 0 0 0;
}

#footer-inner{
	width:90%;
	max-width:1500px;
	text-align:left;
	margin:0 auto;
	color:#c2c4cc;
	padding:20px 0 15px 0;
	font-size:12px
}

.social-icons{text-align:right}
.social-icons img{margin:0 10px 10px 0; opacity:0.7}

/* Blog titles */

.single-featured-image-header{
	position:relative;
	top:-80px;
	z-index:-1;
	height:450px;
    overflow: hidden;
	margin:0 0 -70px 0;
	text-align:center;
}

.single-featured-image-header img{
    position:absolute;
    bottom:-0;
	transform: translate(-50%, 0); /*keeps it centered*/
	max-width:200%;
	height:auto;
	animation: slidingImage 20s
}

@keyframes slidingImage {
from {bottom:-33%}
to {bottom:0}
}

.title-wrapper{
position: absolute;
bottom: 20px;
width: 100%;
text-align: center;
}

h1.new-entry-title {
color: #fff;
font-size: 50px;
line-height: 50px;
margin: 0 auto;
text-align: left;
width: 90%;
max-width: 1500px;
}

h1.entry-title{display:none !important}

.gradient{
background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75));
width:100%;
height:33%;
position:absolute;
bottom:0
}

/*Article layout*/

#primary{width:80%; float:left}
#primary-wide{width:100%}
.entry-meta{width:18.75%; float:left}
.entry-content{width:68.75%; float:left; max-width:700px}
#secondary{width:20%; float:left}
#comments{float:left; clear:both; padding-left:18.75%}

.screen-reader-text, time.updated{display:none}

.entry-content{
	font-size:18px;
	line-height:28px
}

.entry-content p:first-of-type{
margin-top:0;
font-size: 22px;
line-height: 30px;
font-family: 'Georgia', serif;
font-style: italic;
color: #939199
}

article.category-careers .entry-content p:first-of-type{
margin-top: 0;
font-size: 18px;
line-height: 28px;
font-family: 'Roboto', sans-serif;
font-style: normal;
color: #666;
}

.entry-content h2, .entry-content h3{margin:1.5em 0 0.5em 0}

.entry-content iframe{margin:20px 0}

.entry-meta{position:relative}
.entry-meta a{text-decoration:none}
.byline{display:block; color:#ea495c; font-weight:bold}
.author.vcard a{color:#ea495c}
.entry-date{font-size:14px; color:#999}
img.wp-user-avatar{border-radius:50%; display:block; margin:0 25px 25px 0}

.heateor_sss_sharing_container{margin:20px 0; font-size:14px}
.heateor_sss_sharing_ul{position:relative; right:2px}

.wp-caption-text{
font-size:12px;
line-height:18px;
font-style:italic;
margin-bottom:25px;
}

.wp-caption-text a{color:#666; text-decoration:underline}
.wp-caption-text a:hover{color:#666; text-decoration:none}

pre{
white-space: pre-wrap;
margin:0;
font-size:14px;
line-height:20px;
border: 1px solid #666;
padding: 5px 10px;
}

.sources{font-size:14px; line-height:20px}
.sources ul{padding-left:1.5em}

/* Images */

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.entry-content img, .entry-content figure{max-width:100%; height:auto}

/* Slideshows */

.ms-thumb-list{padding:5px 5px 10px 5px}

/* Entry Footer */

footer.entry-footer{
float:left;
padding-left:18.75%;
clear: both;
margin: 20px 0 50px 0;
}

footer.entry-footer a{
display:inline-block;
color:#fff;
font-size:12px;
background-color:#ea495c;
padding:4px 8px;
text-decoration:none;
font-family:'Montserrat';
margin:0 2px 5px 0
}

footer.entry-footer a:hover{opacity:0.75}

span.tags-links{color:#fff}

.icon-folder-open, .icon-hashtag{
width:25px;
height:20px;
position:relative;
top:5px;
margin-right:5px;
fill:#666
}

.icon-hashtag{margin-left:10px}

/* Facebook Comments */

#wpdevar_comment_3{margin:100px 0 50px 0; position:relative; left:-5px}

/*.fb-comments span, .fb-comments iframe{width:100%}*/

/* Wordpress Comments */

#comments h2{font-size:18px !important; line-height:26px !important}

.icon-mail-reply{width:12px; height:12px; padding-right:5px}

ol.comment-list{
list-style:none;
padding-left:0;
font-size:14px;
border-bottom:1px dotted #ccc; padding: 0 0 20px 0
}

#comments ol.children{list-style:none}

.comment-meta img.avatar{
	width:35px;
	height:35px;
	margin-right:5px;
    position:relative;
    top:38px;
	display:inline-block
}

.comment-metadata{font-size:10px; color:#999; margin-left:45px}
.comment-metadata a{color:#999; text-decoration:none}

.comment-body{border-top:1px dotted #ccc; padding: 0 0 20px 0}

p.comment-form-comment label{width:100%; display: block}

textarea#comment{width:95%; padding:5px}

form#commentform input{padding:5px}

p.comment-notes, span.required{font-size:12px}

input[type=submit]{
background-color:#ea495c;
color:#fff;
font-family:'Roboto';
font-weight:bold;
font-size:18px;
border:none;
padding:5px 20px !important
}

p.comment-form-author label,
p.comment-form-email label,
p.comment-form-url label{
display:block;
}

p.comment-form-comment, p.comment-form-author, p.comment-form-email, p.comment-form-url{margin:5px 0}

form#commentform{
    background-color:#f5f5f5;
    padding:5px 20px;
    margin:0 0 100px 0;
}

h3#reply-title{margin: 50px 0 10px 0}

p.comment-awaiting-moderation{font-style:italic; color:#ea495c}


/*---------- Front Page ----------*/

h1.homepage, h1.page-title{
	text-align:center;
    font-weight:400;
    margin-top:0;
	color:#666
}

h2.homepage{
	text-align:center;
    font-weight:400;
    margin:40px 0;
	color:#666
}


p.homepage{
	text-align:center;
    color:#b3b3b3;
    margin: 0 0 30px 0;
}

div.post-thumbnail img{max-width:100%; height:auto}

.home article{
position:relative;
float:left;
width:30.66%;
margin-bottom:80px
}

.home .entry-meta{display:none}
.home .entry-content{display:none !important}

.home .entry-title{
	background-color: #ea495c;
    color: #fff !important;
    padding: 10px 20px;
    margin: 0;
    font-size: 28px;
}

.about-wrapper{
	width:100%;
	text-align:center
}

.about{
	text-align:left;
	margin:0 auto;
	float:none !important
}

.home .entry-header{position:absolute; bottom:-50px; width:100%; z-index:1}

/* First 4 articles */
.home article:nth-child(1), .home article:nth-child(3){width:48%; margin-right:2%; clear:left}
.home article:nth-child(2), .home article:nth-child(4){width:48%; margin-left:2%}

/*5 Onwards */
.home article:nth-child(3n+5){margin-right:2%; clear:left}
.home article:nth-child(3n+6){margin-right:2%; margin-left:2%}
.home article:nth-child(3n+7){margin-left:2%}

.home article:nth-child(n+5) .entry-title{font-size:20px}
.home article:nth-child(n+5) .entry-header{bottom:-50px}


.home .post-thumbnail a{position:relative; top:4px}

.home .entry-title a{color:#fff; text-decoration:none}

/*---------- Tables ----------*/

table{margin:40px 0}

td, th{
    border:1px solid #ccc;
    margin:0;
    padding:0px 10px;
}


/*---------- Archive Pages ----------*/

div.post-thumbnail img{max-width:100%; height:auto}

.archive article{
position:relative;
float:left;
width:30.66%;
margin-bottom:80px
}

.archive .entry-meta{display:none}
.archive .entry-content{display:none !important}

.archive .entry-title{
	background-color: #ea495c;
    color: #fff !important;
    padding: 10px 20px;
    margin: 0;
    font-size: 28px;
}

.archive .entry-header{position:absolute; bottom:-50px; width:100%; z-index:1}

.archive article:nth-child(3n+1){margin-right:2%; clear:left}
.archive article:nth-child(3n+2){margin-right:2%; margin-left:2%}
.archive article:nth-child(3n+3){margin-left:2%}

.archive article .entry-title{font-size:20px}
.archive article .entry-header{bottom:-44px}

.archive .post-thumbnail a{position:relative; top:4px}

.archive .entry-title a{color:#fff; text-decoration:none}

/* Search Form */

.widget_search{
margin:0 auto 40px auto;
max-width:450px
}

input[type="search"]{
padding:5px 10px;
font-size:18px;
font-family:'Roboto', sans-serif;
color:#333;
width: calc(100% - 45px);
border:1px solid #b3b3b3;
border-right:none;
height:35px
}

.widget_search input::placeholder{color:#b3b3b3}

.widget_search button[type="submit"]{
background-color:#ea485c;
color:#fff;
border:none;
padding:5px 10px;
font-size:18px;
width:40px;
height:35px;
position:relative;
top:2px;
left:-4px
}

.widget_search button[type="submit"]:hover{cursor: pointer;}

svg.icon-search{fill:#fff}


/* Search Results */

.search-results main{text-align:center}

.search-results .entry-meta{width:auto; float:none}

.search-results .entry-date{font-size:12px}

.search-results h2.entry-title{margin:5px 0}

.search-results h2.entry-title a{text-decoration:none}

.search-results article{max-width:800px; text-align:left; margin:40px auto}

.search-results .entry-summary p{font-size:12px}

.search-results .entry-summary p.link-more{font-size:16px}

svg.icon-search{width:20px; height:20px}

/* Pagination */

.nav-links{
    float: left;
    width: 100%;
    text-align: center;
    margin: 50px 0;
}

.nav-links .next, .nav-links .prev{display:none}

.page-numbers{
background-color: #e5e5e5;
width:25px;
height:25px;
display:inline-block;
text-align:center;
margin:0 2px;
color:#fff;
text-decoration:none;
font-size:14px;	
line-height:25px;
}

.page-numbers:hover{background-color:#acacbf}

.page-numbers.current{background-color:#acacbf}

/*---------- Popular Posts ----------*/

.popular-posts h2{color:#ea495c}

ul.wpp-list{
list-style:none;
padding:0
}

.wpp-list li{
	position:relative;
	margin-bottom:30px;
	background-color:#000;
	overflow:hidden;
	max-width:450px
}

.wpp-list img{opacity:0.75}

a.wpp-post-title{
	position:absolute;
	bottom:0;
	left:0;
	/*width:100%;*/
	color:#fff;
	font-weight:700;
	font-size:24px;
	font-family:'Montserrat', sans-serif;
	margin:0;
    padding:80px 10px 10px 10px;
	background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
	text-decoration:none
}

#wpp-2 h2{margin-top:0}

/*---------- Job application form ----------*/

.application{
    background-color:#f5f5f5;
    border:1px solid #ccc;
    padding:0 30px 20px 30px;
	margin-top:50px
}

.wpcf7-form input[type=text], .wpcf7-form input[type=email], .wpcf7-form input[type=tel], .wpcf7-form textarea{
    padding:5px;
    font-size:18px;
    font-family:'Roboto', sans-serif;
    width:calc(100% - 10px);
    color:#666 !important
}

p.cv-notes{font-size:13px !important}

span.wpcf7-not-valid-tip{font-size:13px}


/*---------- Responsive Layout ----------*/

img.stretch{max-width:100%; height:auto}

.box{
margin:0 20px 40px 20px;
}

.grid-container{float:left; clear:none; margin:0 -20px;}

.clear{clear:both}

.centre, .center{text-align:center}

@media screen and (min-width:1024px){

hide-on-desktop{display:none}

.grid10{width:10%; float:left; clear:none;}
.grid15{width:15%; float:left; clear:none;}
.grid20{width:20%; float:left; clear:none;}
.grid25{width:25%; float:left; clear:none;}
.grid30{width:30%; float:left; clear:none;}
.grid33{width:33.33%; float:left; clear:none;}
.grid35{width:35%; float:left; clear:none;}
.grid40{width:40%; float:left; clear:none;}
.grid45{width:45%; float:left; clear:none;}
.grid50{width:50%; float:left; clear:none;}
.grid55{width:55%; float:left; clear:none;}
.grid60{width:60%; float:left; clear:none;}
.grid65{width:65%; float:left; clear:none;}
.grid66{width:66.66%; float:left; clear:none;}
.grid70{width:70%; float:left; clear:none;}
.grid75{width:75%; float:left; clear:none;}
.grid80{width:80%; float:left; clear:none;}
.grid85{width:85%; float:left; clear:none;}
.grid90{width:90%; float:left; clear:none;}
.grid95{width:95%; float:left; clear:none;}
.grid100{width:100%; float:left; clear:none;}

}

/* Tablet */

@media screen and (min-width:600px) and (max-width:1023px){

.hide-on-tablet{display:none}

.tablet10{width:10%; float:left; clear:none;}
.tablet15{width:15%; float:left; clear:none;}
.tablet20{width:20%; float:left; clear:none;}
.tablet25{width:25%; float:left; clear:none;}
.tablet30{width:30%; float:left; clear:none;}
.tablet33{width:33.33%; float:left; clear:none;}
.tablet35{width:35%; float:left; clear:none;}
.tablet40{width:40%; float:left; clear:none;}
.tablet45{width:45%; float:left; clear:none;}
.tablet50{width:50%; float:left; clear:none;}
.tablet55{width:55%; float:left; clear:none;}
.tablet60{width:60%; float:left; clear:none;}
.tablet65{width:65%; float:left; clear:none;}
.tablet66{width:66.66%; float:left; clear:none;}
.tablet70{width:70%; float:left; clear:none;}
.tablet75{width:75%; float:left; clear:none;}
.tablet80{width:80%; float:left; clear:none;}
.tablet85{width:85%; float:left; clear:none;}
.tablet90{width:90%; float:left; clear:none;}
.tablet95{width:95%; float:left; clear:none;}
.tablet100{width:100%; float:left; clear:none;}
	
#blog-banner{height:105px; padding-top:40px}
.single-featured-image-header{top:-60px; height:375px}
	
#primary, .entry-meta, .entry-content, #secondary, #comments{width:100%}
#comments{padding-left:0}
	
	.home article{margin-bottom:60px}
	
.home .entry-header{bottom:-32px !important}
.home .entry-title{font-size:18px; line-height:22px; padding:5px 10px}
	
.home article:nth-child(2n+5){width:48%; margin-left:0; margin-right:2%; clear:left}
.home article:nth-child(2n+6){width:48%; margin-left:2%; margin-right:0; clear:none}
	
.archive article:nth-child(2n+1){width:48%; margin-left:0; margin-right:2%; clear:left}
.archive article:nth-child(2n+2){width:48%; margin-left:2%; margin-right:0; clear:none}
	
img.wp-user-avatar{float:left}
span.posted-on{margin-top:25px; display:block}
	
.heateor_sss_sharing_container{position:absolute; top:0; right:0; margin-top:10px}
	
footer.entry-footer{padding-left:0}
	
.widget_search button[type="submit"]{top:1px}
	
}

/* Mobile */

@media screen and (max-width:599px){

.hide-on-mobile{display:none}

.mobile10{width:10%; float:left; clear:none;}
.mobile15{width:15%; float:left; clear:none;}
.mobile20{width:20%; float:left; clear:none;}
.mobile25{width:25%; float:left; clear:none;}
.mobile30{width:30%; float:left; clear:none;}
.mobile33{width:33.33%; float:left; clear:none;}
.mobile35{width:35%; float:left; clear:none;}
.mobile40{width:40%; float:left; clear:none;}
.mobile45{width:45%; float:left; clear:none;}
.mobile50{width:50%; float:left; clear:none;}
.mobile55{width:55%; float:left; clear:none;}
.mobile60{width:60%; float:left; clear:none;}
.mobile65{width:65%; float:left; clear:none;}
.mobile66{width:66.66%; float:left; clear:none;}
.mobile70{width:70%; float:left; clear:none;}
.mobile75{width:75%; float:left; clear:none;}
.mobile80{width:80%; float:left; clear:none;}
.mobile85{width:85%; float:left; clear:none;}
.mobile90{width:90%; float:left; clear:none;}
.mobile95{width:95%; float:left; clear:none;}
.mobile100{width:100%; float:left; clear:none;}
	
#blog-banner{height:90px; padding-top:35px}
.single-featured-image-header{top:-40px; height:200px}
h1.new-entry-title{font-size:24px; line-height:30px}
.gradient{height:100%}
	
#primary, .entry-meta, .entry-content, #secondary, #comments{width:100%}
#comments{padding-left:0}
	
.home article, .archive article{width:100% !important; margin-left:0 !important; margin-right:auto !important; margin-bottom: 60px}
.home .entry-header, .archive .entry-header{bottom:-32px !important}
.home .entry-title, .archive .entry-title{font-size:18px; line-height:22px; padding:5px 10px}
	
img.wp-user-avatar{float:left}
span.posted-on{margin-top:25px; display:block}
	
span.posted-on{margin-top:0}
.heateor_sss_sharing_container{margin-top:10px}
	
footer.entry-footer{padding-left:0}
	
#footer-inner, .social-icons{text-align:center}
	
.social-icons img{margin:10px 5px}
	
.widget_search button[type="submit"]{top:1px}
	
}